.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        display: block;
        font-size: 1.5rem;
        /* Az input elemek esetében a font familyt és a colort
        be kell állitani, inheritre, ha azt szeretnénk, hogy ne a default érték
        legyen meg benne amit az input ad
        */
        color: inherit;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        /* Ez a pseudo elementje a placeholdernek amit az input box tartalmaz */
        &::-webkit-input-placeholder {
            color: rgba($color-grey-dark-2, .8);
        }
    }

    /*
    Ennek az a lényege, hogy amikor a placeholder az input esetén megjelenitődik akkor ne legyen a label
    megjelenitve, mivel a label és az input siblinget ezért + vagy ~ operátorokkal kell jelenzni, hogy ő 
    egyen rangú testvére az inputnak.
    */
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .3s;
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;
    }

    &__radio-button {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -.4rem;


        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            background-color: $color-primary;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
        
    }
}