/* Ebbe a fájlba azok kerülnek amik általánosabb megfogalmazásúak */

*,
*::after,
*::before {
    /* reseteljük a fölösleges adatokat */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* azért kell, mert a bodyban már definiáljuk a border-box-ot így mindenki azt örökli meg alapvetően */
    /*
    Amennyiben a box-sizing:
    - content-box abban az esetben ha a width-et 25%-ra állítod a bordert/margint/paddingot ezen felüll adja meg
    - border-box amennyiben a widthet 25%-ra állítod ezt nem fogja megtoldani a border/margin/padding széleivelv
    */
}

html {
    font-size: 62.5%;

    @include respond(tab-port) {
        font-size: 50%; // 1rem 8/16px = 50%
    }
    @include respond(tab-land) {
        font-size: 56.25%; // 1rem 9/16px = 56.25%
    }
    @include respond(big-desktop) {
        font-size: 75%; // 1rem 12/16px = 56.25%
    }
}

/* alap definiálások */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* milyen vastagok legyenek a betűk */
    // font-size: 1.6rem;
    line-height: 1.7;
    /* ez a betűmérethet van viszonyítva, hogy mennyivel legyen nagyobb a fenti és lenti spaceing*/
    color: $color-grey-dark;
    padding: 3rem;

    box-sizing: border-box;
}


